@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #3cff32 !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #3cff32 !important;
  border-color: #3cff32 !important;
  color: #023200 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0bda00 !important;
  border-color: #0bda00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #023200 !important;
  background-color: #0bda00 !important;
  border-color: #0bda00 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3cff32;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0bda00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #023200 !important;
  background-color: #3cff32 !important;
  border-color: #3cff32 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #3cff32 !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0acb00 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fefffe;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sgr3ZhCHVi {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sgr3ZhCHVi .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sgr3ZhCHVi .row {
  flex-direction: row-reverse;
}
.cid-sgr3ZhCHVi img {
  width: 100%;
}
.cid-sglpICcwqB {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sglpICcwqB .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sglpICcwqB .carousel {
    min-height: 900px;
  }
  .cid-sglpICcwqB .carousel img {
    max-height: 900px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sglpICcwqB .carousel {
    min-height: 585px;
  }
  .cid-sglpICcwqB .carousel img {
    max-height: 585px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sglpICcwqB .carousel {
    min-height: 495px;
  }
  .cid-sglpICcwqB .carousel img {
    max-height: 495px;
    object-fit: contain;
  }
  .cid-sglpICcwqB .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sglpICcwqB .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sglpICcwqB .carousel,
.cid-sglpICcwqB .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sglpICcwqB .item-wrapper {
  width: 100%;
}
.cid-sglpICcwqB .carousel-caption {
  bottom: 40px;
}
.cid-sglpICcwqB .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sglpICcwqB .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sglpICcwqB .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sglpICcwqB .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sglpICcwqB .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sglpICcwqB .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sglpICcwqB .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sglpICcwqB .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sglpICcwqB .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sglpICcwqB .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sglpICcwqB .carousel-indicators li.active,
.cid-sglpICcwqB .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sglpICcwqB .carousel-indicators li::after,
.cid-sglpICcwqB .carousel-indicators li::before {
  content: none;
}
.cid-sglpICcwqB .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sglpICcwqB .carousel-indicators {
    display: none !important;
  }
}
.cid-sgmhNsc65T {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sgmhNsc65T .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sgmhNsc65T .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-sglesstVa8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sglesstVa8 img,
.cid-sglesstVa8 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-sglesstVa8 .item:focus,
.cid-sglesstVa8 span:focus {
  outline: none;
}
.cid-sglesstVa8 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sglesstVa8 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sglesstVa8 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sglesstVa8 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sglesstVa8 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sglesstVa8 .mbr-section-title {
  color: #232323;
}
.cid-sglesstVa8 .mbr-text,
.cid-sglesstVa8 .mbr-section-btn {
  text-align: left;
}
.cid-sglesstVa8 .item-title {
  text-align: left;
}
.cid-sglesstVa8 .item-subtitle {
  text-align: left;
}
.cid-sgmd1F6Io0 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sgm56m4Eg2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sgm56m4Eg2 .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sgm56m4Eg2 .carousel {
    min-height: 900px;
  }
  .cid-sgm56m4Eg2 .carousel img {
    max-height: 900px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sgm56m4Eg2 .carousel {
    min-height: 585px;
  }
  .cid-sgm56m4Eg2 .carousel img {
    max-height: 585px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sgm56m4Eg2 .carousel {
    min-height: 495px;
  }
  .cid-sgm56m4Eg2 .carousel img {
    max-height: 495px;
    object-fit: contain;
  }
  .cid-sgm56m4Eg2 .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sgm56m4Eg2 .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sgm56m4Eg2 .carousel,
.cid-sgm56m4Eg2 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sgm56m4Eg2 .item-wrapper {
  width: 100%;
}
.cid-sgm56m4Eg2 .carousel-caption {
  bottom: 40px;
}
.cid-sgm56m4Eg2 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sgm56m4Eg2 .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sgm56m4Eg2 .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sgm56m4Eg2 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sgm56m4Eg2 .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sgm56m4Eg2 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sgm56m4Eg2 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sgm56m4Eg2 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sgm56m4Eg2 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sgm56m4Eg2 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sgm56m4Eg2 .carousel-indicators li.active,
.cid-sgm56m4Eg2 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sgm56m4Eg2 .carousel-indicators li::after,
.cid-sgm56m4Eg2 .carousel-indicators li::before {
  content: none;
}
.cid-sgm56m4Eg2 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sgm56m4Eg2 .carousel-indicators {
    display: none !important;
  }
}
.cid-sgm5vDoYiV {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fafafa;
}
.cid-sgm5vDoYiV .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sgm5vDoYiV .carousel {
    min-height: 800px;
  }
  .cid-sgm5vDoYiV .carousel img {
    max-height: 800px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sgm5vDoYiV .carousel {
    min-height: 520px;
  }
  .cid-sgm5vDoYiV .carousel img {
    max-height: 520px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sgm5vDoYiV .carousel {
    min-height: 440px;
  }
  .cid-sgm5vDoYiV .carousel img {
    max-height: 440px;
    object-fit: contain;
  }
  .cid-sgm5vDoYiV .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sgm5vDoYiV .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sgm5vDoYiV .carousel,
.cid-sgm5vDoYiV .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sgm5vDoYiV .item-wrapper {
  width: 100%;
}
.cid-sgm5vDoYiV .carousel-caption {
  bottom: 40px;
}
.cid-sgm5vDoYiV .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sgm5vDoYiV .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sgm5vDoYiV .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sgm5vDoYiV .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sgm5vDoYiV .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sgm5vDoYiV .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sgm5vDoYiV .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sgm5vDoYiV .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sgm5vDoYiV .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sgm5vDoYiV .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sgm5vDoYiV .carousel-indicators li.active,
.cid-sgm5vDoYiV .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sgm5vDoYiV .carousel-indicators li::after,
.cid-sgm5vDoYiV .carousel-indicators li::before {
  content: none;
}
.cid-sgm5vDoYiV .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sgm5vDoYiV .carousel-indicators {
    display: none !important;
  }
}
.cid-sgm5vDoYiV H5 {
  color: #ffffff;
}
.cid-sglezEnxcp {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/comprar-imovel-saiba-qual-o-papel-da-imobiliaria-nesse-processo.jpeg");
}
.cid-sglezEnxcp .mbr-overlay {
  background-color: #ffffff;
  opacity: 0;
}
.cid-sglezEnxcp form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-sglezEnxcp form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-sglezEnxcp form.mbr-form {
    padding: 1rem;
  }
}
.cid-sglezEnxcp form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sglezEnxcp form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-sgmlN6DS2v {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sgmlN6DS2v .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-sgmlN6DS2v .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgmlN6DS2v .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sgmlN6DS2v .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgmlN6DS2v .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sgmlN6DS2v .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sgmlN6DS2v .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sgliEM9g93 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sgliEM9g93 .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-sgliEM9g93 .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgliEM9g93 .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sgliEM9g93 .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgliEM9g93 .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sgliEM9g93 .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sgliEM9g93 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sgliF07wbP {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sgliF07wbP .content-wrapper {
  background: #fafafa;
}
@media (max-width: 991px) {
  .cid-sgliF07wbP .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sgliF07wbP .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sgliF07wbP .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sgliF07wbP .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sgliF07wbP .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sgliF07wbP .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sglfFRfdY0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sglfFRfdY0 img,
.cid-sglfFRfdY0 .item-img {
  width: 100%;
}
.cid-sglfFRfdY0 .item:focus,
.cid-sglfFRfdY0 span:focus {
  outline: none;
}
.cid-sglfFRfdY0 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sglfFRfdY0 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sglfFRfdY0 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sglfFRfdY0 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sglfFRfdY0 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sglfFRfdY0 .mbr-section-title {
  color: #232323;
}
.cid-sglfCUWH6q {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-sglfCUWH6q .google-map {
  height: 30rem;
  position: relative;
}
.cid-sglfCUWH6q .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sglfCUWH6q .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sglfCUWH6q .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sglfCUWH6q .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sglfBrtF7B {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/familia.jpg");
}
.cid-sglfBrtF7B .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sglfBrtF7B form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-sglfBrtF7B form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-sglfBrtF7B form.mbr-form {
    padding: 1rem;
  }
}
.cid-sglfBrtF7B form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sglfBrtF7B form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-sgr6gANa2o {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sgr6tbLsJB {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sgr6tbLsJB .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sgr6tbLsJB .row {
  flex-direction: row-reverse;
}
.cid-sgr6tbLsJB img {
  width: 100%;
}
.cid-sgmdUsHIaQ {
  background-image: url("../../../assets/images/274684-fique-por-dentro-de-x-dicas-para-comprar-a-casa-propria.jpg");
}
.cid-sgmdUsHIaQ .mbr-section-title {
  color: #000000;
}
.cid-sgmdUsHIaQ .mbr-section-subtitle {
  color: #000000;
}
.cid-sgmev3hbaJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sgmev3hbaJ .mbr-section-title {
  color: #000000;
}
.cid-sgr6gANa2o {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
